<body style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav class="bg-light rounded-3 p-3 mb-4 d-flex justify-content-between align-items-center">
                    <h1 class="m-0 fs-2">¡Bienvenido {{user.first_name}}!</h1>
                    <div class="d-flex align-items-center">
                    <a href="/api/sessions/current" class="btn btn-secondary me-2">Perfil</a>
                    <a href="/api/prod/render" class="btn btn-secondary">Tienda</a>
                </nav>
            </div>
        </div>
        <div id="products-container" class="row">
            <div class="row">
                <div class="d-flex justify-content-end mb-3">
                    <button class="btn btn-custom" id="add-product-btn">Agregar Producto</button>
                </div>
                {{#each products}}
                <div class="col-md-4 mb-4 px-1 py-1">
                    <div class="card" data-product-id="{{ _id }}">
                        <div class="card-body">
                            <h5 class="card-title">{{this.title}}</h5>
                            <p class="card-text">{{description}}</p>
                            <p class="card-text">Precio: ${{price}}</p>
                            <p class="card-text">Categoría: {{category}}</p>
                            <p class="card-text">Código: {{code}}</p>
                            <p class="card-text">Stock: {{stock}}</p>
                            {{#if ../isAdmin}}
                                <div>
                                    <button class="btn btn-secondary edit-product-btn" data-product-id="{{ _id }}">Editar</button>
                                    <button class="btn btn-custom" onclick="deleteProduct('{{_id}}')">Eliminar</button>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{/each}}
        </div>
    </div>
    </div>
</body>

<script src="/js/manageProd.js"></script>