<body style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav class="bg-light rounded-3 p-3 mb-4 d-flex justify-content-between align-items-center">
                    <h1 class="m-0 fs-2">
                        {{#if user.first_name}}
                            ¡Bienvenido {{user.first_name}}!
                        {{else}}
                            ¡Bienvenido a la tienda!
                        {{/if}}
                        </h1>
                    <div class="d-flex align-items-center">
                    {{#if user.first_name}}
                    <a href="/api/sessions/current" class="btn btn-secondary me-2">Perfil</a>
                    {{else}}
                    <a href="/api/sessions/login" class="btn btn-secondary me-2">Iniciar sesión</a>
                    {{/if}}

                    {{#if isUser}}
                        <a id="chat" href="/chat" class="btn btn-secondary ms-2">Chat</a>
                        <a id="view-cart" href="#" class="btn btn-secondary ms-2">Ver Carrito</a>
                    {{/if}}
                    {{#if isAdmin}}
                        <a href="/api/prod/manage" class="btn btn-custom ms-2">Administrar Productos</a>
                    {{/if}}
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            {{#each products}}
            <div class="col-md-4 mb-4 px-1 py-1">
                <div class="card">
                    <div class="card-body">
                        {{#if this.image}}
                            <img src="{{this.image}}" class="card-img-top" alt="Imagen del producto">
                        {{else}}
                            <img src="/images/placeholder.jpeg" class="card-img-top">
                        {{/if}}
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">{{description}}</p>
                        <p class="card-text">Precio: ${{price}}</p>
                        <p class="card-text">Categoría: {{category}}</p>
                        {{#if (eq ../user.role 'user')}}
                            {{#if (eq stock 0)}}
                                <p class="card-text text-danger">Sin stock</p>
                            {{else}}
                                <button class="btn btn-custom add-to-cart-btn" data-product-id="{{_id}}">Agregar</button>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</body>

<script>
    window.userRole = "{{user.role}}";
</script>
<script src="/js/products.js"></script>